<!-- ***************** -->
<!-- КАРТОЧКИ ОТЧЕТНОСТИ ПО ОБОРОТУ РАСТЕНИЙ -->
<!-- ***************** -->
{% extends "base.twig" %}

{% block rows %}
    <div id="chart-containerRast"></div>
{% endblock %}